
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
  <% end %>
</ul>

<%# <% link_to "See details", restaurant_path(@restaurant), class: "btn btn-primary"%> %>

<%# create a link on this page (link_to) %>

<%# show simple_form to create a new restaurant %>
